.body-home {      
    background-image: url("media/c_far_Nyon_Croubalian.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

a,
h1,
h2,
p {
    color: #fff;
    text-decoration-color: #fff;
}

footer {
    font-weight: 700;
}

.menu-name a {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.link:hover {
    text-decoration: line-through;
    text-decoration-color: #fff;
}

.ui-comp {
    mix-blend-mode: difference; 
}

@media screen and (max-width: 915px) {
    .lower label {
        color: #fff;
    }
}

