
section {
    width: 100vw;
    margin: 0;
}

#content {
    margin: 0;
    padding-top: 15vh;
    overflow-x: hidden;
    overflow-y: scroll;
    will-change: background-color;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.initial-fade {
    -webkit-animation: fade 3s 1 ease;
            animation: fade 3s 1 ease;
}

.info {
    width: 40vw;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 8;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.caption-wrapper {
    font-size: 11px;
    margin-top: 30px;
}

.caption-wrapper p {
    margin: 0;
}

.info.open {
    opacity: 1;
    pointer-events: all;
}

#close-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: url("media/ui-cross-close-b.svg");
    z-index: 9;
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

#close-btn:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.shutter-section {
    position: relative;
    padding-bottom: 15vh;
}

.switch-btn {
    display: none;
}

.this-grid {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0 10px;
    position: relative;
}

.this-grid-column {
    width: 25%;
    padding: 0 10px;
}

.shutter-section p {
    margin: 20px 0; 
}

.large-column {
    width: 50%
}

.one-column {
    width: 100%;
}

.first-layer {
    width: 100vw;
}

.second-layer {
    width: 0%;
    position: absolute;
    top: 0;
    left: 2px;
    overflow: hidden;
    z-index: 2;
}

.need-align {
    position: relative; 
    left: 2px;
}

.white {
    background-color: #fff;
}

.map {
    background-image: url(media/la-notte/fiume.svg);
    background-position: 25% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.night-section {
    height: auto;
    position: relative;
    cursor: crosshair;
}

.text-container {
    /* width: 100vw; */
    /* margin-top: 15%; */
    /* margin-left: calc(25% + 20px); */
    /* margin-bottom: 5%; */
    margin: 15% 25% 5% 20px;
    height: 100vh;
    color: #fff;
}

.text-container p {
    font-size: 5vw;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 70px;
}

.spotlight-section {
    height: 150vh;
    cursor: crosshair;
}

.spotlight-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 5;
    width: 65vw;
    color: #000;
}

.spotlight-text p {
    text-align: center;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1.1;
}

.spotlight-text p:nth-child(2) {
    display: none;
}

.spotlight-text p::selection {
    color: #000;
}

#spotlight {
    position: absolute;
    bottom: -100vh;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    width: 250px;
    height: 250px;
    opacity: 0.95;
    mix-blend-mode: difference;
    background-image: url(media/la-notte/spotlight.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    cursor: crosshair;
}

@-webkit-keyframes beat {
    0% { -webkit-transform: scale(1); transform: scale(1); background-color: transparent; }
    100% { -webkit-transform: scale(2); transform: scale(2); background-color: #ff005570 }
}

@keyframes beat {
    0% { transform: scale(1); background-color: transparent; }
    100% { transform: scale(2); background-color: #ff005570; }
}

.audio-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    position: absolute;
    z-index: 5;
    cursor: pointer;
    will-change: transform;
}

.rec00 {
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: beat 3s .5s infinite linear reverse;
            animation: beat 3s .5s infinite linear reverse;
}

.rec01 {
    top: 20%;
    left: 20%;
    -webkit-animation: beat 2s infinite linear alternate-reverse;
            animation: beat 2s infinite linear alternate-reverse;
}

.rec02 {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 15%;
    -webkit-animation: beat 1s infinite linear reverse;
            animation: beat 1s infinite linear reverse;
}

.rec03 {
    width: 25px;
    height: 25px;
    top: 70%;
    right: 15%;
    -webkit-animation: beat 4s .1s infinite linear reverse;
            animation: beat 4s .1s infinite linear reverse;
}

.section-wrapper img {
    filter: grayscale(100%) invert(100%) contrast(1.3);
    transition: filter .2s linear;
}

.section-wrapper img:hover {
    filter: none;
}

.field-section {
    background-image: url("media/la-notte/IMG_2661.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 6;
    position: relative;
}

.field-section::before {
    content: '';
    width: 100%; 
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff9c), to(rgba(255, 255, 255, 0)));
    background-image: -o-linear-gradient(top, #ffffff9c, rgba(255, 255, 255, 0));
    background-image: linear-gradient(180deg, #ffffff9c, rgba(255, 255, 255, 0));
}

.section-title-fixed {
    height: 9vh;
    padding: 20px 25px 0 30px;
    z-index: 6;
    position: relative;
}

.field-content {
    padding-bottom: 15vh;
}

.field-content img,
.video-wrapper video {
    border: solid 1px #000;
    margin: 0;
    padding: 0;
}

.field-content .text-box,
.field-content img,
.video-btn {
    transition: all .5s linear;
}

.video-btn {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: #fff;
    mix-blend-mode: difference;
    text-align: center;
}

.field-content .text-box:hover,
.field-content img:hover {
    box-shadow: 0 0 15px 1px #ff0055;
}

.video-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 1px #ff0055;
}

.highlight {
    box-shadow: 0 0 15px 1px #ff0055;
}

.video-wrapper {
    position: relative;
}

.video-wrapper video {
    object-fit: cover;
}

.track {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}


.library-section {
    background-color: #fff;
    z-index: 6;
}

.library-section::before {
    content: '';
    width: 100%; 
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff00559c), to(rgba(255, 255, 255, 0)));
    background-image: -o-linear-gradient(top, #ff00559c, rgba(255, 255, 255, 0));
    background-image: linear-gradient(180deg, #ff00559c, rgba(255, 255, 255, 0));
}

.library-container {
    overscroll-behavior: contain;
}

.section-title {
    height: 9vh;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    z-index: 6;
    padding: 20px 25px 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}

.to-top-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    cursor: pointer;
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}

.to-top-btn:hover {
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

.library-content {
    width: 100vw;
    height: 91vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.library-content-wrapper {
    width: 20%;
}

.scrollable {
    max-height: 91vh;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}

.scrollable h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

.scrollable p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide-on-desktop {
    display: none;
}

/* first breackpoint ---> tablet */
@media screen and (max-width: 915px) {
    .grid-menu {
        display: -ms-grid;
        display: grid;
    }
    .menu-links a:last-child {
        margin-right: 20px;
    }
    .info {
        width: 75vw;
    }
    .hide-on-tablet {
        display: none;
    }
    section {
        padding: 0;
    }
    .shutter-section p {
        margin: 20px 5px;
    }
    .text-container {
        margin: 0;
        padding: 20px;
        height: 80vh;
    }
    .spotlight-text p:nth-child(2) {
        display: block;
        margin-top: 20px;
        font-size: 12px;
        color: #fff;
    }
    .library-content {
        height: auto;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .library-content-wrapper {
        width: 50%;
    }
    .library-title {
        border: none;
    }
    .scrollable {
        max-height: none;
        height: auto;
        border: 1px solid #000;
        margin: 5px;
        overflow-y: hidden;
    }
}

/* last breackpoint ---> mobile */ 
@media screen and (max-width: 600px) {
    .page-label {
        display: none;
    }
    .switch-btn {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ff0055;
        mix-blend-mode: difference;
        -webkit-filter: blur(1px);
                filter: blur(1px);
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 3;
    }
    .second-layer {
        width: 0% !important;
        left: 0;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .second-layer.make-first {
        width: 100% !important;
    }
    .first-layer {
        opacity: 1;
        -webkit-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
        transition: opacity .5s ease;
    }
    .first-layer.hide {
        opacity: 0;
    }
    .white {
        background-color: transparent;
    }
    .menu-links a:last-child {
        margin-right: 12px;
        margin-left: 0;
    }
    .info {
        width: calc(100vw - 24px);
    }
    .scroll-on-mobile {
        height: 85vh;
        overflow-y: scroll;
        margin-bottom: 0;
    }
    .this-grid {
        padding: 0 12px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; 
    }
    .this-grid-column {
        width: 50%;
        padding: 5px;   
    }
    .full-on-mobile {
        width: 100%;
    }
    .shutter-section p {
        margin: 0;
    }
    .need-margin-mobile {
        margin-bottom: 100px;
    }
    .map {
        background-image: none;
    }
    .map-mobile {
        background-image: url(media/la-notte/fiume.svg);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .rec00 {
        top: 105%;
        left: 70%;
    }
    .spotlight-text p:nth-child(2) {
        font-size: 12px;
    }
    .hide-on-desktop {
        display: block;
    }
    .section-title {
        height: 11vh;
    }
    .text-container {
        margin: 0;
        padding: 12px;
        height: 50vh;
    }
    .text-container p {
        margin-bottom: 20px;
    }
    .library-text {
        display: none;
    }
    .library-content {
        display: block;
        width: 100vw;
        height: auto;
        margin-bottom: 60px;
    }
    .library-content-wrapper {
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
    .library-content-wrapper.opened div.library-text {
        display: block;
    }
}