@font-face {
    font-family: "Messapia Regular";
    src: url("font/Messapia-Regular.woff2") format("woff2"),
         url("font/Messapia-Regular.woff") format("woff");
}
@font-face {
    font-family: "Messapia Bold";
    src: url("font/Messapia-Bold.woff2") format("woff2"),
         url("font/Messapia-Bold.woff") format("woff");
}

p::selection,
h1::selection,
h2::selection,
br::selection,
span::selection,
a::selection,
li::selection,
img::selection {
    color: #ff0055;
}

#content {
    margin: 0;
    margin-top: 15vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    transition: background-color .5s ease;
}

.shutter-section {
    width: 100vw;
    margin: 0;
    position: relative;
    scroll-snap-align: start;
}

.this-grid {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 10px;
    position: relative;
}

.this-grid-column {
    width: 25%;
    padding: 0 10px;
}

.this-grid-column p {
    margin: 20px 0;
}

.large-column {
    width: 50%
}

.one-column {
    width: 100%;
}

.first-layer {
    width: 100vw;
}

.second-layer {
    width: 0%;
    position: absolute;
    top: 0;
    left: 2px;
    overflow: hidden;
    z-index: 2;
}

.white {
    background-color: #fff;
}

.map {
    background-image: url(media/la-notte/fiume.svg);
    background-position: 25% 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.night-section {
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    /* background-color: #000; */
    scroll-snap-align: start;
}

.text-container {
    width: 100vw;
    margin-top: 15%;
    margin-left: calc(25% + 20px);
    height: auto;
    color: #fff;
}

/* .audio-wrapper {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 20px;
}

.audio-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #fff;
    margin-right: 50px;
    z-index: 1;
    cursor: pointer
}

.rec01 {
    top: 5%;
    left: 50%;
} */

.spotlight-section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    scroll-snap-align: start;
}

.scroll-snap {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
}

.spotlight-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 60vw;
    padding: 50px;
    color: #000;
    cursor: crosshair;
}

.spotlight-text p {
    /* font-size: calc(12px + 2vw); */
    text-align: center;
    
}

#spotlight {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 0, 85, 0.5);
    filter: blur(50px);
    /* mix-blend-mode: difference; */
    z-index: 1;
    cursor: crosshair;
}

@keyframes beat {
    0% { transform: scale(1); background-color: #000; }
    100% { transform: scale(2); background-color: rgba(209, 80, 123, 0.1); }
}

.audio-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: blur(5px);
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.rec01 {
    background-color: #000;
    top: 20%;
    left: 20%;
    animation: beat 2s infinite linear alternate-reverse;
}

.rec02 {
    width: 20px;
    height: 20px;
    background-color: #000;
    top: 50%;
    left: 15%;
    animation: beat 1s infinite linear reverse;
}




.library-section {
    margin: 0;
    position: relative;
    top: 0;
    scroll-snap-align: start;
}

.library-section::before {
    content: '';
    width: 100%; 
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    background-image: linear-gradient(180deg, #ff00559c, rgba(255, 255, 255, 0));
}

.library-container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: solid 1px #000;
    position: relative;
}

.library-menu {
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.library-menu li {
    list-style-type: none;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 800;
}

.library-menu li a {
    text-decoration: none;
}

.info-btn {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #000;
    filter: blur(5px);
    cursor: pointer;
}

.library-content-wrapper {
    width: 65vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.close-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: url("media/ui-cross-close-b.svg");
    z-index: 6;
}

#le-guin {
    width: 30vw;
}

.scrollable {
    max-height: 70vh;
    overflow-y: scroll;
    margin-bottom: 0;
}

.library-content-wrapper.open {
    opacity: 1;
    pointer-events: all;
}