/* .body-home {      
    background-image: url("media/About-Hero.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
} */

.body-home {
    background-image: url("media/images/shell-fossils-4.jpg"), linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    /* background-image: url("media/images/img3_1.jpg"); */
    /* , linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)) */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode: overlay;
    color: #000;
    cursor: none;
}

a,
h1,
h2,
p {
    color: #000;
    text-decoration-color: #000;
}

/* footer {
    font-weight: 700;
} */

.menu-name a {
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.link:hover {
    text-decoration: line-through;
    text-decoration-color: #000;
}

/* .ui-comp {
    mix-blend-mode: difference;
} */

.banner {
    background-color: transparent;
}

#spotlight {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    /* opacity: 0.95;
    mix-blend-mode: exclusion;
    background-image: url(media/la-notte/spotlight.svg);
    background-position: center;
    background-repeat: no-repeat; */
    /* background-color: #5b909b; */
    background-color: #cf9f59;
    /* filter: blur(1px); */
    pointer-events: none;
    z-index: -1;
    display: none;
    overflow: hidden;
}

@media screen and (max-width: 915px) {

    .menu-label p {
        color: #000;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .body-home {
        background-repeat: repeat-y;
    }

    #spotlight {
        display: none;
    }
}