/* .body-home {      
    background-image: url("media/About-Hero.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
} */

.body-home {
    background-image: url("media/images/red.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    cursor: crosshair;
}

a,
h1,
h2,
p {
    color: #fff;
    text-decoration-color: #fff;
}

footer {
    font-weight: 700;
}

.menu-name a {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.link:hover {
    text-decoration: line-through;
    text-decoration-color: #fff;
}

.ui-comp {
    mix-blend-mode: difference;
}

.banner {
    background-color: transparent;
}

#spotlight {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    opacity: 0.95;
    mix-blend-mode: exclusion;
    background-image: url(media/la-notte/spotlight.svg);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
    display: none;
    overflow: hidden;
}

@media screen and (max-width: 915px) {

    .menu-label p {
        color: #fff;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .body-home {
        background-repeat: repeat-y;
    }

    #spotlight {
        display: none;
    }
}